<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>
</head>
<body>
    <h1>My Todo List</h1>
    <form method="POST">
        <input type="text" name="todo" placeholder="Add a new todo">
        <button type="submit">Add Todo</button>
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <ol>
        {% for todo in todos %}
        <li>{{ todo.text }}</li>
        {% if todo.completed==True %}
            <p>Completed!</p>
            <a href="{{ url_for('completed', id=todo.id) }}">Undo</a>
        {% else %}
        <a href="{{ url_for('completed', id=todo.id) }}">Complete</a>
        {% endif %}
        <a href="{{ url_for('edit', id=todo.id) }}">Edit</a>
        <a href="{{ url_for('delete', id=todo.id) }}">Delete</a>
        {% endfor %}
    </ol>
</body>
</html>